@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  overflow: hidden;
}

/* Hiding the scrollbar */
html {
  overflow: scroll;
  scrollbar-width: none !important;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

/* Hide scrollbar for IE and Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* Leaflet sizing */
.leaflet-container {
  height: 82vh;
  width: 100%;
  border-radius: 10px;
}

/* Animations */
.pageFadeIn {
  animation: pageFadeIn ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes pageFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pageInEffectRight {
  animation: pageInEffectRight ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes pageInEffectRight {
  0% {
    opacity: 0;
    transform: translateX(-5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.gradient {
  background: linear-gradient(to right,
      #6f7280,
      #2a2c3c,
      #181827,
      #833ab4,
      #fd1d1d,
      #fcb045);
  background-size: 400% 400%;
  animation: body 10s infinite ease-in-out;
}

@keyframes body {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}