@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  overflow: hidden;
}

/* Leaflet sizing */
.leaflet-container {
  height: 50vh;
  width: 100%;
  border-radius: 10px;
}